<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.fit.model.dao.IGrassDao">

    <!-- 나의 잔디 현황 -->
    <select id="selectMyGrass" parameterType="int" resultType="String">
        SELECT GDate FROM grass WHERE userNo = #{userNo};
    </select>

    <!-- 잔디깎기 -->
    <insert id="insertGrass" parameterType="Comment">
        INSERT INTO grass (userNo, GDate)
        VALUES (#{userNo}, now());
    </insert>

</mapper>