<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.fit.model.dao.IRoutineDao">

    <!-- 유저의 루틴 조회-->
    <select id="selectRoutineByUserNo" parameterType="int" resultType="Routine">
        SELECT * FROM routine WHERE userNo = #{userNo};
    </select>

    <!-- 루틴 저장-->
    <insert id="insertRoutine" parameterType="Routine">
        INSERT INTO routine (userNo, createdDate, routineType, dayOne, dayTwo, dayThree, dayFour)
        VALUES ( #{userNo}, current_date(), #{routineType}, #{dayOne}, #{dayTwo},#{dayThree},#{dayFour});
    </insert>

    <!-- 루틴 삭제 -->
    <delete id="deleteRoutine" parameterType="int">
        DELETE FROM routine WHERE routineNo = #{routineNo};
    </delete>

</mapper>

